name: Build

on:
  push:
    branches:
      - '**'

jobs:
  ci:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: .
    environment: ${{ github.ref == 'refs/heads/main' && 'production' || 'staging' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm test

      - name: Run build
        run: npm run build
        env:
          TEST_ENV_VARIABLE: ${{ vars.TEST_ENV_VARIABLE }}

      - name: Upload `dist` artifact
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: ./dist