name: Build and Deploy

on:
  push:
    branches:
      - '**'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: .
    environment: ${{ github.ref == 'refs/heads/main' && 'production' || 'staging' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # - name: Show commit hash
      #   run: |
      #     echo "Commit hash: ${{ github.sha }}"

      # - name: Get short commit hash
      #   run: |
      #     SHORT_HASH=$(git rev-parse --short HEAD)
      #     echo "APP_COMMIT=$SHORT_HASH" >> $GITHUB_ENV

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm test

      - name: Run build
        run: npm run build
        env:
          TEST_ENV_VARIABLE: ${{ vars.TEST_ENV_VARIABLE }}
          APP_ENVIRONMENT: ${{ github.ref == 'refs/heads/dev' && 'staging' || '' }}
          APP_COMMIT: ${{ substring(github.sha, 0, 7) }}

      - name: Upload `dist` artifact
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: ./dist

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment: ${{ github.ref == 'refs/heads/main' && 'production' || 'staging' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Determine release type
        id: release_type
        run: echo "type=${{ github.event.inputs.release_type || 'patch' }}" >> $GITHUB_OUTPUT

      - name: Bump version
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          npm version ${{ steps.release_type.outputs.type }} -m "chore: bump version to %s [skip ci]"

      - name: Push version commit and tag
        run: |
          git push origin HEAD:${{ github.ref_name }} --follow-tags

      - name: Show the branch
        run: |
          echo "Triggered by branch: ${{ github.ref }}"
          echo "Triggered by branch name: ${{ github.ref_name }}"
          echo "Deploying to environment: ${{ github.ref == 'refs/heads/main' && 'production' || 'staging' }}"
          echo "Event: ${{ github.event.inputs.release_type || 'patch' }}"
      - name: Download 'dist' artifact 
        uses: actions/download-artifact@v4
        with:
          name: dist
          path: ./dist

      - name: Set environment
        run: |
          ENV=""
          BUCKET=""
          case "${{github.ref_name}}" in
            "main")
              ENV="production"
              BUCKET="action-sanbox-prod"
              ;;
            "dev")
              ENV="staging"
              BUCKET="actions-sandbox"
              ;;
          esac

          echo "ENV=$ENV" >> $GITHUB_ENV
          echo "BUCKET=$BUCKET" >> $GITHUB_ENV

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Sync build to S3
        run: |
          echo "Deploying to S3 bucket: $BUCKET"
          echo "Environment: $ENV"
          aws s3 sync ./dist s3://$BUCKET --delete