name: Deploy

on:
  workflow_run:
    workflows: ["Build"]
    types:
      - completed
    branches: ["main", "dev"]

permissions:
  contents: read
  actions: read
  id-token: write

jobs:
  cd:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    environment: ${{ github.ref == 'refs/heads/main' && 'production' || 'staging' }}
    steps:
      - name: Download artifact from triggering workflow
        uses: dawidd6/action-download-artifact@v3
        with:
          workflow: build.yml
          workflow_conclusion: success
          name: dist
          run_id: ${{ github.event.workflow_run.id }}
          path: dist

      - name: Set environment
        run: |
          ENV=""
          BUCKET=""
          case "${{github.ref_name}}" in
            "main")
              ENV="production"
              BUCKET="action-sanbox-prod"
              ;;
            "dev")
              ENV="staging"
              BUCKET="actions-sandbox"
              ;;
          esac

          echo "ENV=$ENV" >> $GITHUB_ENV
          echo "BUCKET=$BUCKET" >> $GITHUB_ENV

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Sync build to S3
        run: |
          aws s3 sync ./dist s3://$BUCKET --delete