name: Deploy Project

on:
  workflow_run:
    workflows: ["Build Project"]
    types:
      - completed
    branches: ["main", "dev"]

jobs:
  cd:
    runs-on: ubuntu-latest
    environment: ${{ github.ref == 'refs/heads/main' && 'production' || 'staging' }}
    steps:
      - name: Download `dist` artifact
        uses: actions/download-artifact@v4
        with:
          name: dist
          path: ./dist

      - name: Set environment
        run: |
          if [[ "${GITHUB_REF_NAME}" == "main" ]]; then
            echo "ENV=production" >> $GITHUB_ENV
            echo "BUCKET=action-sanbox-prod" >> $GITHUB_ENV
          else
            echo "ENV=staging" >> $GITHUB_ENV
            echo "BUCKET=actions-sandbox" >> $GITHUB_ENV
          fi

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Sync build to S3
        run: |
          aws s3 sync ./dist s3://$BUCKET --delete