name: Deploy

on:
  workflow_run:
    workflows: ["Build"]
    types:
      - completed
    branches: ["main", "dev"]

permissions:
  contents: read
  actions: read
  id-token: write

jobs:
  cd:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    environment: ${{ github.ref == 'refs/heads/main' && 'production' || 'staging' }}
    steps:
      - name: Download artifact from triggering workflow
        uses: dawidd6/action-download-artifact@v3
        with:
          workflow: build.yml
          workflow_conclusion: success
          name: dist
          run_id: ${{ github.event.workflow_run.id }}
          path: dist

      - name: Set environment
        run: |
          if [[ "${{github.ref_name}}" == "main" ]]; then
            echo "ENV=production" >> $GITHUB_ENV
            echo "BUCKET=action-sanbox-prod" >> $GITHUB_ENV
          else
            echo "ENV=staging" >> $GITHUB_ENV
            echo "BUCKET=actions-sandbox" >> $GITHUB_ENV
          fi

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Sync build to S3
        run: |
          aws s3 sync ./dist s3://$BUCKET --delete