name: Deploy (production)

on:
  push:
    branches:
      - main
  workflow_dispatch: {}

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    environment: production
    steps:
        - name: Checkout
          uses: actions/checkout@v4

        - name: Setup Node.js
          uses: actions/setup-node@v4
          with:
            node-version: '22'

        - name: Install dependencies
          run: npm ci

        - name: Build Production (Vite)
          run: npm run build
          env: 
            TEST_ENV_VARIABLE: ${{ secrets.TEST_ENV_VARIABLE }}

        - name: Upload `dist` artifact
          uses: actions/upload-artifact@v4
          with:
            name: dist
            path: ./dist

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Download `dist` artifact
        uses: actions/download-artifact@v4
        with:
          name: dist
          path: ./dist

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Sync build to S3
        run: |
          aws s3 sync ./dist s3://action-sanbox-prod --delete