name: CI/CD

on:
  push:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: .
    environment: ${{ github.ref == 'refs/heads/main' && 'production' || 'staging' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm test

      - name: Run build
        run: npm run build
        env:
          TEST_ENV_VARIABLE: ${{ vars.TEST_ENV_VARIABLE }}

      - name: Upload `dist` artifact
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: ./dist

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment: ${{ github.ref == 'refs/heads/main' && 'production' || 'staging' }}
    steps:
      - name: Download 'dist' artifact 
        uses: actions/download-artifact@v4
        with:
          name: dist

      - name: Set environment
        run: |
          ENV=""
          BUCKET=""
          case "${{github.ref_name}}" in
            "main")
              ENV="production"
              BUCKET="action-sanbox-prod"
              ;;
            "dev")
              ENV="staging"
              BUCKET="actions-sandbox"
              ;;
          esac

          echo "ENV=$ENV" >> $GITHUB_ENV
          echo "BUCKET=$BUCKET" >> $GITHUB_ENV

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Sync build to S3
        run: |
          aws s3 sync ./dist s3://$BUCKET --delete